@media (prefers-color-scheme: dark) {
	html:not(.theme-set) {
		--background: #000;
		--text: #fff;

		--btn-back: #333;
		--btn-border: #fff;
		--btn-text: #fff;
	}
}
@media (prefers-color-scheme: light) {
	html:not(.theme-set) {
		--background: #fff;
		--text: #000;

		--btn-back: #ccc;
		--btn-border: #000;
		--btn-text: #000;
	}
}

html.light {
	--background: #fff;
	--text: #000;

	--btn-back: #ccc;
	--btn-border: #000;
	--btn-text: #000;
}

html.dark {
	--background: #000;
	--text: #fff;

	--btn-back: #333;
	--btn-border: #fff;
	--btn-text: #fff;
}


html,
body {
	background-color: var(--background);
	color: var(--text);
}

input,
select,
button {
	background-color: var(--btn-back);
	color: var(--btn-text);
	border: 1px solid;
	border-color: var(--btn-border);
}

